<main class="container mt-5">
    <h1>Cartão está funcionando</h1>
     <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <LinkTo class="link" @route="novo">Novo</LinkTo>
            </li>
        </ol>
    </nav>   
</main>