<main class="container mt-5">
<img style="width: 150px; height: 150px;" src="https://logodownload.org/wp-content/uploads/2019/08/nubank-logo-2.png">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <LinkTo class="link" @route="cartao">Cartão</LinkTo>
            </li>
            <li class="breadcrumb-item">
                <LinkTo class="link" @route="emprestimo">Emprestimo</LinkTo>
            </li>
        </ol>
    </nav>

<div class="alert alert-dark" role="alert">
  Site totalmente legitimo do Nubank
</div>
</main>


{{outlet}}